.marqueeSection {
    background: #000;
    color: white;
    padding: 1rem 0;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.track {
    display: flex;
    animation: marquee 60s linear infinite;
    width: max-content;
}

.text {
    font-family: 'Inter', sans-serif;
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 500;
    padding-right: 2rem;
    /* Spacing between loops */
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}