.textWidgetContent p {
    margin-bottom: 1em;
}

.textWidgetContent ul, .textWidgetContent ol {
    margin-left: 1.5em;
    margin-bottom: 1em;
    list-style-position: outside;
}

.textWidgetContent ul {
    list-style-type: disc;
}

.textWidgetContent ol {
    list-style-type: decimal;
}


.textWidgetContent strong, .textWidgetContent b {
    font-weight: bold !important;
}

.textWidgetContent em, .textWidgetContent i {
    font-style: italic !important;
}

.textWidgetContent s, .textWidgetContent strike {
    text-decoration: line-through !important;
}

.textWidgetContent u {
    text-decoration: underline !important;
}

.textWidgetContent a {
    color: #3b82f6 !important; /* Blue color */
    text-decoration: underline !important;
}


.textWidgetContent {
    white-space: pre-wrap; /* Respect newlines if tags are missing */
    word-wrap: break-word;
}

.textWidgetContent p, .textWidgetContent > div {
    display: block !important;
    width: 100% !important;
    margin-bottom: 1em !important;
    min-height: 1.5em; 
    line-height: inherit !important;
}

.textWidgetContent br {
    display: block !important;
    content: "" !important;
    margin-bottom: 0.5em !important;
}

/* Quill Alignment Classes */
.textWidgetContent :global(.ql-align-center) {
    text-align: center;
}

.textWidgetContent :global(.ql-align-right) {
    text-align: right;
}

.textWidgetContent :global(.ql-align-justify) {
    text-align: justify;
}

/* Quill Indentation Classes */
.textWidgetContent :global(.ql-indent-1) {
    padding-left: 3em;
}

.textWidgetContent :global(.ql-indent-2) {
    padding-left: 6em;
}

.textWidgetContent :global(.ql-indent-3) {
    padding-left: 9em;
}

.textWidgetContent :global(.ql-indent-4) {
    padding-left: 12em;
}

.textWidgetContent :global(.ql-indent-5) {
    padding-left: 15em;
}



