.hero {
  width: 100%;
  height: 600px; /* Adjust height as needed */
  background-color: #ebeae6;
  overflow: hidden;
}

.heroImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
    .hero {
        height: 400px;
    }
}
