.heroSection {
    padding: 0px 40px 80px 0px;
    background-color: #fdfcf9;
}

.container {
    display: flex;
    gap: 30px;
    max-width: 1400px;
    margin: 0 auto;
    height: 850px;
    align-items: center; /* Center everything vertically */
}

.imageWrapper {
    flex: 1;
    height: 70%; /* Side images height */
    overflow: hidden;
}


.imageWrapper:nth-child(2) {
    flex: 1.3; /* Makes the middle image wider */
    height: 80%; /* Adjusted height according to user change */
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 991px) {
    .container {
        height: 600px;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }
    .imageWrapper {
        height: 500px;
    }
}
