.heroSection {
    padding: 40px 40px 80px 40px;
    background-color: #fdfcf9;
}

.container {
    display: flex;
    gap: 15px;
    max-width: 1400px;
    margin: 0 auto;
    height: 750px;
}

.imageWrapper {
    flex: 1;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.imageWrapper:hover .image {
    transform: scale(1.05);
}

@media (max-width: 991px) {
    .container {
        height: 600px;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }
    .imageWrapper {
        height: 500px;
    }
}
