.heroSection {
    padding: 40px 40px 80px 40px;
    background-color: #fdfcf9;
}

.container {
    display: flex;
    gap: 30px;
    max-width: 1400px;
    margin: 0 auto;
    height: 850px;
    align-items: flex-end; /* Sides at the bottom */
}

.imageWrapper {
    flex: 1;
    height: 95%; /* Shorter than container */
    overflow: hidden;
}

.imageWrapper:nth-child(2) {
    align-self: flex-start; /* Middle at the top */
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 991px) {
    .container {
        height: 600px;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }
    .imageWrapper {
        height: 500px;
    }
}
