.container {
  display: flex;
  min-height: 100vh;
}

.main {
  flex: 1;
  margin-left: 250px; /* Width of sidebar */
  background-color: #f3f4f6;
  min-height: 100vh;
}

.header {
  height: 64px;
  background-color: #fff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
}

.content {
  padding: 2rem;
}
