.section {
    padding: 60px 20px 20px;
    background-color: white;
    text-align: center;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    font-weight: 900;
    color: #1a1a1a;
}
